---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, 'Open Sans', Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #000F55;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}
/*
body {
  background: url("/assets/notebook_paper.jpg") repeat scroll center
}
*/
.site-header {
  position:fixed;
  width:100%;
}

.logo {
margin-top:20px;
.ws-pic {
  margin-top: 20px;
  margin-left: -30px
}

.title {
  margin-right: 25px;
  width: 440px;
  float:right;
  text-align:right;

  .ws-title {
    font-family: OrangeJuice;
    font-size: 80pt;
    height: 100px;

    a {
      color: $text-color
    }

    a:hover {
      text-decoration: none;
      color: $brand-color
    }
  }

  .site-title {
    line-height: 1.2;
  }

  .ws-date {
    margin-top: -20px;
  }
}
}

.site-footer {
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  /*width: 500px;*/
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left-width: 0px;

  cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
  }

  cite:before {
    content: "\2014 \2009";
  }
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting"
;

h1 {
  color: $brand-color;
}


.site-title:hover {
  color: $brand-color;
  text-decoration: none
}


.site-nav {
  font-family: OrangeJuice;
  .page-link {
    border: 1px $text-color;
    font-size:20pt;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }

  .page-link:hover {
    color: $brand-color;
    text-decoration: none;
  }

  .active {
    background-image: url("/assets/circle.png");
    background-size: 113% 115%;
    background-position: center;
  }
}





@font-face {
  font-family: OrangeJuice;
  src: url(/assets/orangejuice.ttf);
}
